#topMenu {
                        height: 30px;
                        width: 850px;
}
#topMenu ul li {
                        list-style: none;
                        color: black;
                        background-color: white;
                        float: left;
                        line-height: 30px;
                        vertical-align: middle;
                        text-align: center;
}

#topMenu .menuLink {
                        text-decoration:none;
                        color: #939597;
                        display: block;
                        width: 150px;
                        font-size: 12px;
                        font-weight: bold;
                        font-family: "Trebuchet MS";
}

#topMenu .menuLink:hover {
                        color: #939597;
                        background-color: #F9E547;
}